<mat-sidenav-container class="sidenav-container">
  <mat-sidenav>

  </mat-sidenav>

  <mat-sidenav-content fxLayout="column" style="height: auto;">
    <mat-toolbar>
      <h1 style="text-align: center; display: inline-block; width: 100%;" >
        LOTTO APPLICATION
      </h1>
      <h1 style="text-align: center; display: inline-block; width: 100%;" >
     
      </h1>
      <h1 style="text-align: center; display: inline-block; width: 100%;" >
        งวดที่ - {{currentDate}}
      </h1>

      
      <span style="margin-right: 10px;">
       
      </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
