<!-- <div class="search-results-container-history"
             infinite-scroll
             (scrolled)="onScrollDownHistory($event)">

             <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <mat-card style="margin-top: 10px; width: 40%; line-height: 24px;" *ngFor="let session of sessionHistory">
              <mat-card-title *ngIf="islangThai" style="font-size: 20px;">{{session.coursecode}}
                - {{session.classname}}</mat-card-title>
              <mat-card-title *ngIf="!islangThai" style="font-size: 20px;">{{session.coursecode}}
                - {{session.classnameeng}}</mat-card-title>
              <mat-card-content>
                <div style="font-size: 16px;" *ngIf="getCurrentLang() == 'th'">
                  AAAAAAAAAAAAAAAAAAAAAAA : {{session.acadyear}}
                </div>
                <div style="font-size: 16px;" *ngIf="getCurrentLang() !== 'th'">
                  BBBBBBBBBBBBBBBBBBBBBBB : {{session.acadyear - 543}}
                </div>
                <div style="font-size: 16px;">
                  CCCCCCCCCCCCCCC : {{session.classdate }}
                </div>
                <div style="font-size: 16px;">
                  DDDDDDDDDDDDDDDDDDDDDD : {{session.classtime}}
                </div>
                <div style="font-size: 16px;">
                  EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE : <a style="color: forestgreen;"
                                                                          *ngIf="session.status">SSSSSSSSSSSSSSSSSSS</a>
                  <a style="color: crimson;"
                     *ngIf="!session.status">FFFFFFFFFFFFFFFFFFF</a>
                </div>


                <div *ngIf="session.status == 1"
                     style="
                          cursor: pointer; ">
                  <button mat-button style="width: 100%; " (click)="openSession(session)">ดำเนินการ</button>
                </div>
              </mat-card-content>
            </mat-card>
            </div>

            <div class="center-spin">
              <mat-spinner *ngIf="loadingspin"></mat-spinner>
            </div>
          </div> -->

          <mat-card class="example-card">
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            <mat-card-content>
              <p>This card indeterminates progress bar.</p>
              <p>{{longText}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>