table {
    width: 100%;
  }

  .example-form {
    min-width: 50px;
    max-width: 150px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .mainForm {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: 20px; */
  }
 