
<div class="mainForm">
<form class="example-form">
    <div style="display: flex; flex-direction: row;">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>เลข</mat-label>
        <input matInput placeholder="" value="" [(ngModel)]="detailData.number" name="number">
      </mat-form-field>
    
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>บน/ตรง</mat-label>
        <input matInput placeholder="" value="" [(ngModel)]="detailData.priceA" name="priceA">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>ล่าง/โต๊ท</mat-label>
        <input matInput placeholder="" value="" [(ngModel)]="detailData.priceB" name="priceB">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>ชื่อ</mat-label>
        <input matInput placeholder="" value="" [(ngModel)]="detailData.buyerName" name="buyerName">
      </mat-form-field>
    </div>
    <div class="search-btn" style="padding: 0px; margin:0 auto;" [hidden]="false">
      <button mat-raised-button style="width: 100%;height: 100%; font-size: 20px;" (click)="save()">บันทึก</button>
    </div>
</form>

<label>เลขท้าย 2 ตัว</label>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef>เลข</th>
    <td mat-cell *matCellDef="let element"> {{element.number}} </td>
    </ng-container>

    <ng-container matColumnDef="up">
    <th mat-header-cell *matHeaderCellDef>บน</th>
    <td mat-cell *matCellDef="let element"> {{element.up}} </td>
    </ng-container>

    <ng-container matColumnDef="down">
    <th mat-header-cell *matHeaderCellDef>ล่าง</th>
    <td mat-cell *matCellDef="let element"> {{element.down}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>