<label>เลข</label>
<label>บน</label>
<label>ล่าง</label>
<div class="container">
    <div class="bg-utcc">
      <mat-tab-group #tabGroup mat-align-tabs="center" 
                     selectedIndex="{{tabIndex}}"
                     style="height: 100vh;">
  
        <mat-tab label="test" style="cursor: pointer;">
         <app-list-two></app-list-two>
        </mat-tab>
  
        <mat-tab label="test2" style="cursor: pointer;">
          <app-list-three></app-list-three>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  
  