<div class="container">
    <div class="bg-utcc">
      <mat-tab-group #tabGroup mat-align-tabs="center" 
                     selectedIndex="{{tabIndex}}"
                     style="height: 100vh;">

        <mat-tab label="main-one" style="cursor: pointer;">
         <app-main-one></app-main-one>
        </mat-tab>
  
        <mat-tab label="main-two" style="cursor: pointer;">
          <app-main-two></app-main-two>
        </mat-tab>
  
        <mat-tab label="main-three" style="cursor: pointer;">
          <app-main-three></app-main-three>
        </mat-tab>
        
        <mat-tab label="main-four" style="cursor: pointer;">
          <app-main-four></app-main-four>
        </mat-tab>
  
      </mat-tab-group>
    </div>
  </div>
  
  