
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <br>
  <button mat-raised-button style="height: 40px; font-size: 20px;" (click)="loadData()"><mat-icon>search</mat-icon>&nbsp;ค้นหา&nbsp;</button>
  <mat-card style="margin-top: 10px; width: 85%; line-height: 24px;" >
    <div style="display: flex; flex-direction: row;">
      <mat-card style="margin-top: 10px; line-height: 24px; width: 35%;">
        <div style="font-size: 18px;" >เลข</div>            
      </mat-card>
      <mat-card style="margin-top: 10px; line-height: 24px; width: 35%;">
        <div style="font-size: 18px;" >บน</div>          
      </mat-card>
      <mat-card style="margin-top: 10px; line-height: 24px; width: 35%;">
        <div style="font-size: 18px;" >ล่าง</div>          
      </mat-card>    
    </div>
    <div style="display: flex; flex-direction: row;" *ngFor="let list of reportTwo.list">
      <mat-card style="margin-top: 10px; line-height: 24px; width: 35%;">
        <div style="font-size: 18px;" >{{list.number}}</div>       
      </mat-card>
      <mat-card *ngIf="!list.upMax" style="margin-top: 10px; line-height: 24px; width: 35%;">
        <div style="display: flex; flex-direction: row;">
          <div *ngIf="list.up > 0">
            <div style="font-size: 18px; color: red;" >{{list.up }}</div>  
          </div>
          <div *ngIf="list.up == 0">
            <div style="font-size: 18px;" >{{list.up }}</div>  
          </div>
          <div *ngIf="list.upMax > 0">
            <div style="font-size: 18px;" >&nbsp;({{list.upLimit }})</div>   
          </div>   
        </div>    
      </mat-card>
      <mat-card *ngIf="list.upMax" style="margin-top: 10px; line-height: 24px; width: 35%; background-color: coral;">
        <div style="display: flex; flex-direction: row;">
          <div style="font-size: 18px; color: red;" >{{list.up }}</div>  
          <div style="font-size: 18px;" >{{list.up }}</div>  
          <div style="font-size: 18px;" >&nbsp;({{list.upLimit }})</div>   
        </div>    
      </mat-card>
      <mat-card *ngIf="!list.downMax" style="margin-top: 10px; line-height: 24px; width: 35%;">
        <div style="display: flex; flex-direction: row;">
          <div *ngIf="list.down > 0">
            <div style="font-size: 18px; color: red;" >{{list.down }}</div>  
          </div>
          <div *ngIf="list.down == 0">
            <div style="font-size: 18px;" >{{list.down }}</div>  
          </div>
          <div *ngIf="list.downMax > 0">
            <div style="font-size: 18px;" >&nbsp;({{list.downLimit }})</div>   
          </div>  
        </div>
      </mat-card>       
      <mat-card *ngIf="list.downMax" style="margin-top: 10px; line-height: 24px; width: 35%;">
        <div style="display: flex; flex-direction: row;">
          <div style="font-size: 18px; color: red;" >{{list.up }}</div>  
          <div style="font-size: 18px;" >{{list.down }}</div>  
          <div style="font-size: 18px;" >&nbsp;({{list.downLimit }})</div>   
        </div>
      </mat-card>   
    </div>
  </mat-card>
  <mat-card style="margin-top: 10px; width: 85%; line-height: 24px;" >
    <div style="display: flex; flex-direction: row;">
      <mat-card style="margin-top: 10px; line-height: 24px; width: 25%;">
        <div style="font-size: 18px;" >รวม</div>            
      </mat-card>
      <mat-card style="margin-top: 10px; line-height: 24px; width: 75%;">
        <div style="font-size: 18px;" >{{reportTwo.sum}}&nbsp;บาท</div>          
      </mat-card>
    </div>
    <div style="display: flex; flex-direction: row;">
      <mat-card style="margin-top: 10px; line-height: 24px; width: 25%;">
        <div style="font-size: 18px;" >เกินยอด</div>            
      </mat-card>
      <mat-card style="margin-top: 10px; line-height: 24px; width: 75%;">
        <div style="font-size: 18px; color: red;" >{{reportTwo.over}}&nbsp;บาท</div>          
      </mat-card>
    </div>
  </mat-card>
  
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>