<mat-sidenav-container class="sidenav-container">
  <mat-sidenav>

  </mat-sidenav>

  <mat-sidenav-content fxLayout="column" style="height: auto;">
    <mat-toolbar>
      <h1 style="text-align: center; display: inline-block; width: 100%;" >
        AAAAAAAA
      </h1>
      <h1 style="text-align: center; display: inline-block; width: 100%;" >
        BBBBBBBBBBBBB
      </h1>
      <h1 style="text-align: center; display: inline-block; width: 100%;" >
        CCCCCCCCCCCCCCCCCCCCC
      </h1>

      <span style="margin-right: 10px;">
        DDDDDDDDDDDDD
      </span>
      <span>
        |
      </span>
      <button mat-button (click)="openLanguageSelected()">
            <span class="material-icons">
                language
            </span>
        EEEEEEEEEEEEEEE
      </button>
      <button mat-button (click)="logOut()">
        FFFFFFFFFFFFFFFFF
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
