<!-- <div>
  <div class="container" >
    <div class="bg-utcc">
      <mat-tab-group #tabGroup mat-align-tabs="center" 
                     selectedIndex="{{tabIndex}}"
                     style="height: 100vh;"
                           value="primary"
                           backgroundColor=primary
                           color=primary
                     >
  
        <mat-tab label="บิล" style="cursor: pointer;">
            <app-list-bill></app-list-bill>
        </mat-tab>
  
        <mat-tab label="เลขท้าย 2 ตัว" style="cursor: pointer;">
            <app-list-two></app-list-two>
        </mat-tab>
  
        <mat-tab label="เลขท้าย 3 ตัว หลัก 0" style="cursor: pointer;">
            <app-list-three-zero></app-list-three-zero>
        </mat-tab>
        
        <mat-tab label="เลขท้าย 3 ตัว หลัก 1" style="cursor: pointer;">
          <app-list-three-one></app-list-three-one>
        </mat-tab>
        
        <mat-tab label="เลขท้าย 3 ตัว หลัก 2" style="cursor: pointer;">
          <app-list-three-two></app-list-three-two>
        </mat-tab>

        
        <mat-tab label="เลขท้าย 3 ตัว หลัก 3" style="cursor: pointer;">
          <app-list-three-three></app-list-three-three>
        </mat-tab>

        
        <mat-tab label="เลขท้าย 3 ตัว หลัก 4" style="cursor: pointer;">
          <app-list-three-four></app-list-three-four>
        </mat-tab>

        
        <mat-tab label="เลขท้าย 3 ตัว หลัก 5" style="cursor: pointer;">
          <app-list-three-five></app-list-three-five>
        </mat-tab>

        
        <mat-tab label="เลขท้าย 3 ตัว หลัก 6" style="cursor: pointer;">
          <app-list-three-six></app-list-three-six>
        </mat-tab>

        
        <mat-tab label="เลขท้าย 3 ตัว หลัก 7" style="cursor: pointer;">
          <app-list-three-seven></app-list-three-seven>
        </mat-tab>


        <mat-tab label="เลขท้าย 3 ตัว หลัก 8" style="cursor: pointer;">
          <app-list-three-night></app-list-three-night>
        </mat-tab>

        <mat-tab label="เลขท้าย 3 ตัว หลัก 9" style="cursor: pointer;">
          <app-list-three-nine></app-list-three-nine>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>
</div>
 -->


 <div class="container">
  <div class="bg-utcc">
    <mat-tab-group #tabGroup mat-align-tabs="center" 
                   selectedIndex="{{tabIndex}}"
                   style="height: 100vh;">


      <mat-tab label="main-one" style="cursor: pointer;">
          <app-list-bill-card></app-list-bill-card>
      </mat-tab>

      <mat-tab label="1" style="cursor: pointer;">
       <app-list-bill></app-list-bill>
      </mat-tab>

      <mat-tab label="2" style="cursor: pointer;">
        <app-list-bill-card-test></app-list-bill-card-test>
      </mat-tab>

      <mat-tab label="3" style="cursor: pointer;">
        <app-class-session-search-attendance-report></app-class-session-search-attendance-report>
      </mat-tab>
      
      <mat-tab label="4" style="cursor: pointer;">
        <app-class-session-search-class-history></app-class-session-search-class-history>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>

ng serve
